body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbarbars {
    display: none;
}
@media screen and (max-width: 500px) {
    .navbar-item {
        display: none;
    }
    #navbarbars {
        display: inline-block;
    }
}
.mobilmenu {
    background-color: black;
    width: 100vw;
    height: 35vh;
}